@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'JetBrains Mono';
    src: url(../fonts/JetBrainsMono-Regular.woff2);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2a2a2a;
    color: #fff;
}

.app {
    padding-top: 15px;
    padding-bottom: 15px;
}

form {
    margin-bottom: 15px;
}

.bg-red {background-color: #db2828;}
.bg-yellow {background-color: #fbbd08;}
.bg-orange {background-color: #f2711c;}
.bg-blue {background-color: #2185d0;}

.c-red {color: #db2828;}

.nested {
    background-color: rgba(242, 182, 50, 0.3);
    border: 3px dashed #f2b632;
    padding: 6px 0;
}

.show-table {
    padding: 15px;
    overflow-y: hidden;
}

.ui.table td.error {
    background-color: rgba(219, 40, 40, 0.2) !important;
}

.card {
    font-family: 'JetBrains Mono', sans-serif;
    padding: 5px;
    margin: 2px;
    color: #fff;
    border-radius: 2px;
}

.grid {
    display: flex;
}

textarea {
    background-color: #616161 !important;
    color: #fff !important;
}

.text {
    padding: 15px;
}
